body{margin-top: 75px;
    padding-bottom: 1000px;
    background-color:rgb(234, 236, 242) }
@media (min-width: 1218px) {
    .right-side-bar{display: flex;} }
@media (min-width:1220px){
    .left-side-bar{display:flex;}}
@media (min-width:1260px) {
    .find-button{visibility: visible;;}
    .search-facebook{display: block;}
    .search-logo-button{width: 38px;
                        height: 40px;
                        background-color:  rgb(235, 234, 234);
                        border: none;}}
@media (min-width:700px) {
    .center-side{display: flex;}
}