.nav-bar{display: flex;
        flex-direction: row;
        position: fixed;
        background-color:white;
        justify-content: space-between;
        right: 0;
        left:0;
        top: 0;
        height: 60px;
        z-index: 100;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);}

.left-side{display: flex;
          flex-direction: row;
          flex: 1;
          min-width: 220px;
          width: 0;
          max-width: 400px;
          align-items: center;}

.Facebook-logo{width: 40px;
                margin-right: 10px;
                margin-left: 10px;
                cursor: pointer;}

.search-contatiner{display: flex;
                    flex-direction: row;}
.search-logo-button{width: 38px;
                        height: 40px;
                        background-color:  rgb(235, 234, 234);
                        border: none;
                        border-top-left-radius: 18px;
                        border-bottom-left-radius: 18px;}
.search-logo{       width: 21px;}
.search-facebook{   width: 200px;
                    height: 40px;
                    margin-left: -1px;
                    border-left: none;
                    border: none;
                    display: none;
                    background-color:  rgb(235, 234, 234);
                    border-top-right-radius: 18px;
                    border-bottom-right-radius: 18px;}
.search-facebook::placeholder{color: rgb(119, 118, 118);
                              font-size: 15px;}

.center-side{                 display: flex;
                              flex-direction: row;
                              justify-content: space-between;
                              align-items: center;
                              display:none;
                              width: 380px;}
.home-logo-button{            width: 100px;
                              height: 50px;  
                              cursor: pointer;
                              position: relative;
                              background-color: white;
                              border-radius: 8px;
                              border: none;}
.home-logo{                   width: 25px;}
.home-logo-button:hover{      background-color: rgb(242, 242, 242);}
.home-tool{                   position: absolute;
                              background-color: rgb(54, 54, 54);
                              color: white;
                              font-size: 13px;
                              bottom: -43px;
                              right: 24px;
                              box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);       
                              opacity: 0;
                              pointer-events: none;
                              padding: 8px 10px 8px 10px;
                              border-radius: 11px;}
.home-logo-button:hover .home-tool{opacity: 1;}

.friends-logo-button{           width: 100px;
                                height: 50px;
                                position: relative;
                                border-radius: 8px;
                                background-color: white;
                                border: none;
                                cursor: pointer;}
.friends-logo{                  width: 30px;}
.friends-logo-button:hover{     background-color: rgb(242, 242, 242);}
.friends-tool{                  position: absolute;
                                background-color: rgb(54, 54, 54);
                                color: white;
                                font-size: 13px;
                                bottom: -43px;
                                right: 18px;
                                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
                                opacity: 0;
                                pointer-events: none;
                                padding: 8px 10px 8px 10px;
                                border-radius: 11px;}
.friends-logo-button:hover .friends-tool{opacity: 1;}

.groups-logo-button{            width: 100px;
                                height: 50px;
                                position: relative;
                                border-radius: 8px;
                                background-color:white;
                                border: 0;
                                cursor: pointer;}
.groups-logo{                   width: 30px;}
.groups-logo-button:hover{      background-color: rgb(242, 242, 242);}
.groups-tool{                   position: absolute;
                                background-color: rgb(50, 50, 50);
                                color: white;
                                padding: 8px 10px 8px 10px;
                                border-radius: 11px;
                                bottom: -43px;
                                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
                                right: 20px;
                                pointer-events: none;
                                opacity: 0;}
.groups-logo-button:hover .groups-tool{opacity: 1;}

.right-side{                    display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                                width: 280px;
                                padding-right: 30px;}
.find-button{                   padding: 10px 10px 10px 10px;
                                border-radius: 18px;
                                border: none;
                                text-decoration: none;
                                white-space: nowrap;
                                background-color: rgb(228, 228, 228);
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 14px;
                                visibility: hidden;
                                font-weight: bold;
                                cursor: pointer;}
.find-button-link, .find-button-link:active, .find-button-link:visited {text-decoration: none;
                                border: none;
                                color: black;}
.find-button:hover{             text-decoration: none;
                                color: black;
                                background-color:rgb(221, 221, 221);}
.apps-logo{                     width:25px ;}
.apps-logo-button{              border-radius: 30px;
                                border: none;
                                position: relative;
                                cursor: pointer; 
                                padding: 7px 7px 4px 7px;}
.apps-logo-button:hover{        background-color: rgb(221, 221, 221);}
.menu-tool{                     position: absolute;
                                bottom: -43px;
                                right: -7px;
                                background-color: rgb(56, 56, 56);
                                color: white;
                                padding: 8px 10px 8px 10px;
                                border-radius: 11px;
                                z-index: 200;
                                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
                                pointer-events: none;
                                opacity: 0;}
.apps-logo-button:hover .menu-tool{opacity: 1;
                                z-index: 200;}

.messenger-logo{                width: 19px;}
.messenger-logo-button{         border: none;
                                position: relative;
                                border-radius: 20px;
                                cursor: pointer;
                                padding: 10px 10px 7px 10px;}
.messenger-logo-button:hover{   background-color:rgb(221, 221, 221);}
.messenger-tool{                position: absolute;
                                bottom: -43px;
                                right: -25px;
                                background-color: rgb(54, 54, 54);
                                color: white;
                                pointer-events: none;
                                opacity: 0;
                                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
                                padding: 8px 10px 8px 10px;
                                border-radius: 11px;}
.messenger-logo-button:hover .messenger-tool{opacity: 1;}

.notification-logo{             width: 19px;}
.notification-logo-button{      border: none;
                                position: relative;
                                cursor: pointer;
                                border-radius: 20px;
                                padding: 10px 10px 7px 10px;}
.notification-logo-button:hover{background-color:rgb(221, 221, 221);}
.notification-tool{             position: absolute;
                                bottom: -43px;
                                right: -25px;
                                background-color: rgb(59, 59, 59);
                                color: white;
                                padding: 8px 10px 8px 10px;
                                border-radius: 11px;
                                pointer-events: none;
                                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
                                opacity: 0;}
.notification-logo-button:hover .notification-tool{opacity: 1;}

.account-container{             position: relative;
                                cursor: pointer;}
.picture-profile{               width: 38px;
                                border-radius: 20px;}
.account-tool{                  position: absolute;
                                bottom: -43px;
                                right: -10px;
                                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                background-color: rgb(61, 61, 61);
                                font-size: 13px;
                                color:white ;
                                padding: 8px 10px 8px 10px;
                                border-radius: 11px;
                                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
                                pointer-events: none;
                                opacity: 0;} 
.account-container:hover .account-tool{opacity: 1;}
                                                         